@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/style2/main.css" rel="stylesheet" />
    <link href="~/style2/responsive.css" rel="stylesheet" />
    <link href="~/style2/owl/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/style2/owl/owl.carousel.min.css" rel="stylesheet" />


    <title>GAMES TFLIX</title>
</head>
<body>
    <header>
        <div class="container">
            <h2 class="logo">NETFLIX</h2>
            <nav>
                <a href="#">Inicio</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="filme-principal">
            <div class="container">
                <h3 class="titulo">Kirby and the Forgotten Land - Nintendo Switch</h3>
                <p class="descricao">Um dos mascotes mais fofos e adorados dos videogames, o redondíssimo Kirby está de malas prontas para desembarcar em uma nova aventura que chamou bastante atenção desde a sua revelação</p>
                <div class="botoes">
                    <button role="button" class="button">
                        <i class="fa-solid fa-play"></i>
                        ASSISTIR AGORA
                        <a href="https://www.youtube.com/watch?v=H3LAkr0ANgw&feature=emb_logo" target="_blank" rel="noopener noreferrer">PLAY</a>
                    </button>
                    <button role="button" class="button">
                        <i class="fa-solid fa-circle-info"></i>
                        MAIS INFORMAÇÕES
                    </button>
                </div>
            </div>
        </div>
    </main>

    <div class="carrosel-filmes">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img class="box-filme" src="~/img2/mini1.jpg" alt="" srcset="">
                <a href="https://www.youtube.com/watch?v=I4RynqpahT8" target="_blank" rel="noopener noreferrer">PLAY</a>
            </div>
            <div class="item">
                <img class="box-filme" src="~/img2/mini2.jpg" alt="" srcset="">
                <a href="https://www.youtube.com/watch?v=ztwwQByMmmE" target="_blank" rel="noopener noreferrer">PLAY</a>
            </div>
            <div class="item">
                <img class="box-filme" src="~/img2/mini3.jpg" alt="" srcset="">
                <a href="https://www.youtube.com/watch?v=E3Huy2cdih0" target="_blank" rel="noopener noreferrer">PLAY</a>
            </div>
            <div class="item">
                <img class="box-filme" src="~/img2/mini4.jpg" alt="" srcset="">
                <a href="https://www.youtube.com/watch?v=1tBUsXIkG1A" target="_blank" rel="noopener noreferrer">PLAY</a>
            </div>
            <div class="item">
                <img class="box-filme" src="~/img2/mini5.jpg" alt="" srcset="">
                <a href="https://www.youtube.com/watch?v=AdZUrXCqUck" target="_blank" rel="noopener noreferrer">PLAY</a>
            </div>
            <div class="item">
                <img class="box-filme" src="~/img2/mini6.jpg" alt="" srcset="">
                <a href="https://www.youtube.com/watch?v=H3LAkr0ANgw" target="_blank" rel="noopener noreferrer">PLAY</a>
            </div>
            <div class="item">
                <img class="box-filme" src="~/img2/mini7.jpg" alt="" srcset="">
                <a href="https://www.youtube.com/watch?v=pYqyVpCV-3c" target="_blank" rel="noopener noreferrer">PLAY</a>
            </div>
            <div class="item">
                <img class="box-filme" src="~/img2/mini8.jpg" alt="" srcset="">
                <a href="https://www.youtube.com/watch?v=XPU7HOmU8uU" target="_blank" rel="noopener noreferrer">PLAY</a>
            </div>
            <div class="item">
                <img class="box-filme" src="~/img2/mini9.jpg" alt="" srcset="">
                <a href="https://www.youtube.com/watch?v=1O6Qstncpnc" target="_blank" rel="noopener noreferrer">PLAY</a>
            </div>
            <div class="item">
                <img class="box-filme" src="~/img2/mini10.jpg" alt="" srcset="">
                <a href="https://www.youtube.com/watch?v=MJJhLwq7db0" target="_blank" rel="noopener noreferrer">PLAY</a>
            </div>
        </div>
    </div>

    <footer>
        <p class="footer">Copyright by:<a href="https://github.com/brunoveronezi">Bruno Veronezi</a></p>
    </footer>

    <script src="https://kit.fontawesome.com/35b4f33c59.js" crossorigin="anonymous"></script>
    <script src="~/js2/owl/jquery.min.js"></script>
    <script src="~/js2/owl/owl.carousel.min.js"></script>
    <script src="~/js2/owl/setup.js"></script>

</body>
</html>