@{
    Layout = "~/Views/Login/LayoutLogin.cshtml";
}

<h2>Login</h2>

<form action="/Login/ChecarLogin" method="post">

    <div class="row">
        <div class=" =col-sm-4 col-sm-offset-4 text-left">
            <label for="userId" class="form-label">Usuário</label>
            <input type="email" class="form-control" name="Email" id="Email" placeholder="nome@gamestflix.com.br" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class=" =col-sm-4 col-sm-offset-4 text-left">
            <label for="userPassword" class="form-label">Senha</label>
            <input type="password" class="form-control" name="SenhaUsuario" id="SenhaUsuario" placeholder="senha" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="button">
            <button class="btn btn-primary" type="submit">Entrar</button>
        </div>
    </div>
</form> 